@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&display=swap');

@layer base {
  body {
    font-family: 'Fira Mono', monospace;
  }
}

@layer utilities {
  
    .bg-primary {
      background-color: #222;
      
    }
  }

  /* @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  } */
  
  @keyframes blur-fade-in {
    from {
      opacity: 0;
      filter: blur(10px);
    }
    to {
      opacity: 1;
      filter: blur(0px);
    }
  }

  

  
  .animate-blur-fade-in {
    animation: blur-fade-in 0.8s ease-out;
  }
/*   
  .animate-fade-in {
    animation: fade-in 0.6s ease-out;
  }
   */